@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "compass";

@import "../sass/base";

body #site-logo {
    background: url('/cobrands/thereader/images/logo1-small.png') 0px 0px no-repeat;
    height: 83px;
    width: 100px;
    margin-top: -10px;
    margin-left: 5px;
}

a:hover, a:active, a:visited:hover, a:visited:active {
    text-decoration: none;
}

#site-header {
    min-height: 4.5em; /* for IE */
    background: #6ab3b2; /* for mobile */
}
