@import "_colours";
@import "../sass/layout";

/* really for benefit of IE */
body.frontpage #site-header {
    height: 9em;
}
@media only screen and (min-width: 48em) {
    .nav-wrapper .nav-wrapper-2 {
        min-height: 4.5em;
    }
}

body.frontpage #site-logo {
    background: url('/cobrands/thereader/images/logo1.png') 0px 0px no-repeat;
    margin-top: -30px;
    margin-left: 10px;
    height: 120px;
    width: 150px;
}

